doctype
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/resource/style/header.css')
    body
        input
        div
            = '\n'
            | abcdef
            div xiao xixi
            p heheyixiao
        script(src='/resource/script/app.js')
        script(src='/resource/script/app.es6.js')