doctype
html
    head
        meta(charset='utf-8')
    body
        a#login(href='javascript:') 登录
        script(src='/resource/vendor/jquery/jquery-3.1.1.min.js')
        script(src='/resource/script/app.js')