// 设计稿的尺寸
$design-size: 320
// 开发尺寸
$dev-size: 320
// 根节点 html 的 font-size
$root-size: 100
// 设计稿尺寸和开发尺寸的比例
$ratio: $design-size / $dev-size
// 默认单位
$default-unit: px
// 移动端开发中，需要检测的 media 断点
$media-list: 375, 414, 480, 600
// 设置默认字体颜色
$font-color: #333
// 设置字体大小
$font-size: 14
// 设置默认字体
$font-family: 'PingFang SC', Helvetica, Arial, 'Microsoft YaHei', serif
// 主色
$main-color: #fff
// 配色
$match-color: #fff
// 副色
$secondary-color-1: #fff
$secondary-color-2: #fff
// 标题颜色
$title-color: #111
// 正文颜色
$text-color: #333
// 引文颜色
$citation-color: #666
// 链接颜色
$link-color: #0083e9
